.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  width: 400px;
  padding: 40px;
  background-color: #f2f2f2;
  border-radius: 10px;

  .error {
    color: red;
    margin-bottom: 20px;
  }

  .username-input,
  .password-input {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .submit-button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  a:link {
    margin-top: 10px;
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    width: 90vw;
    padding: 40px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
}
