// QRScanner.scss
.qr-reader {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  canvas {
    border: 10px solid #ddd;
  }
}

.result {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}
